{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Bahnplan{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Bahnplan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto">
                     <li class="nav-item m-1">
                        <a href="{% url 'vehicletypeslist' %}" class="btn btn-outline-secondary">Fahrzeugtypen</a>
                    </li>
                     <li class="nav-item m-1">
                        <a href="{% url 'vehicleslist' %}" class="btn btn-outline-secondary">Eigene Fahrzeuge</a>
                    </li>
                    <li class="nav-item m-1">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                    </li>
                    <li class="nav-item dropdown m-1">
                        <a class="nav-link dropdown-toggle" href="#" id="companyMenu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ user.player.activecompany.abbrev }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="companyMenu">
                            {% for company in user.player.get_companies %}
                                {% if company != user.player.activecompany %}
                                    <a class="dropdown-item" href="{% url 'switch_company' pk=company.pk %}">{{ company.abbrev }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown m-1">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="dropdown-item" href="{% url 'createcompany' %}">Unternehmen erstellen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Ausloggen</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %}
                Bahnplan \ Breadcrumb \ Navigation
            {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
    </div>
{% endblock body %}
</body>
</html>