{% extends 'base.html' %}

{% block content %}
    <h2>Verfügbare Fahrzeugtypen</h2>
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col" class="text-left">Bezeichnung</th>
            <th scope="col">Name</th>
            <th scope="col">Vmax</th>
            <th scope="col">Kapazität</th>
            <th scope="col">Neupreis</th>
            <th scope="col">Kosten/km</th>
            <th scope="col">Kosten/h</th>
            <th scope="col">max. Traktion</th>
            <th scope="col">Wartung</th>
        </tr>
        </thead>
        <tbody>
        {% for vt in vehicle_types %}
            <tr>
                <td class="text-left"><a href="{% url 'vehicle-lease' pk=vt.pk %}">{{ vt.name }}</a></td>
                <td>{{ vt.vocal_name }}</td>
                <td class="text-right">{{ vt.v_max }} km/h</td>
                <td class="text-right">{{ vt.cargo_tons_limit }} t</td>
                <td class="text-right">{{ vt.total_price|floatformat:"g" }} €</td>
                <td class="text-right">{{ vt.cost_per_km|floatformat:2 }} €</td>
                <td class="text-right">{{ vt.cost_per_hour|floatformat:2 }} €</td>
                <td>{{ vt.multi_head_limit }}</td>
                <td>Kat. {{ vt.workshop_category.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}