{% extends 'base.html' %}

{% load bootstrap5 %}
{% load widget_tweaks %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Einloggen</h1>
                </div>
                <div class="card-body">
                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Auf diese Seite hast Du keinen Zugriff.</p>
                        {% else %}
                            <p>Diese Seite ist erst nach dem Einloggen zu sehen.</p>
                        {% endif %}
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username|add_class:'form-control' }}

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password|add_class:'form-control' }}
                        </div>
                        <div class="form-group">
                            <input type="submit" value="login" class="btn float-end  login_btn">
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Noch nicht bei BahnPlan?&nbsp;<a class="link-light" href="{% url 'signup' %}">Jetzt anmelden</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="link-light" href="{% url 'password_reset' %}">Passwort vergessen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if form.errors %}
        <p>Passwort und/oder Benutzername falsch.</p>
    {% endif %}




{% endblock %}